body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
    color: white;
}

.task-manager-container {
    text-align: center;
}

.input-container {
    margin-bottom: 10px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.delete-button,
.complete-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.completed {
    color: #ADFF2F; /* Change the text color for completed tasks */
}
